<div data-ng-controller="authenticate.controller.register">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Email</span>
                    <input data-ng-model="signup.email" type="text" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <div password="signup.password"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <button class="btn btn-primary" type="submit" data-ng-click="submit();">Submit</button>
        </div>
    </div>
</div>
