<div class="quests" data-ng-controller="quest.controller.index">
    <div component-bracket>
        Search/Filter area. This could have a stalk attaching to a quest that's been expanded.
    </div>
    <div class="stalk" style="height: 20px; margin: 0 auto;"></div>
    <div class="quest-container">

        <div class="list-column">
            <div class="quest" data-ng-repeat="quest in quests" data-ng-class="{active: quest.idx === selected.idx}">
                <div style="display: table-cell; vertical-align: middle;">
                    <div class="stalk"></div>
                </div>
                <div style="display: table-cell;">
                    <div component-bracket data-horizontal="true">
                        <div data-ng-click="select(quest.idx);">{{quest.label}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="detail-column">
            <div class="stalk" style="height: 20px; margin: 0 auto;"></div>
            <div component-bracket style="position: relative;">
                {{selected.description || "Select a task to see the description"}}
                <button data-ng-click="startMission(selected.idx);">Start Mission</button>
            </div>
        </div>

        <div class="corner-left"></div>
        <div class="corner-right"></div>
    </div>
</div>
